[project]
	description = A cms system template
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tingchang Deng (xmenmagneto)
[access "refs/for/refs/*"]
	read = group user/Tingchang Deng (xmenmagneto)
	push = group user/Tingchang Deng (xmenmagneto)
	label-Code-Review = -2..+2 group user/Tingchang Deng (xmenmagneto)
	label-Verified = -1..+1 group user/Tingchang Deng (xmenmagneto)
	rebase = group user/Tingchang Deng (xmenmagneto)
	removeReviewer = group user/Tingchang Deng (xmenmagneto)
	submit = group user/Tingchang Deng (xmenmagneto)
[access "refs/heads/*"]
	read = group user/Tingchang Deng (xmenmagneto)
	create = group user/Tingchang Deng (xmenmagneto)
	push = +force group user/Tingchang Deng (xmenmagneto)
	pushMerge = group user/Tingchang Deng (xmenmagneto)
[access "refs/tags/*"]
	push = group user/Tingchang Deng (xmenmagneto)
	push = +force group user/Tingchang Deng (xmenmagneto)
